---
---

@import "{{ site.theme }}";

body {
 background-image: linear-gradient(to bottom right, #dbd3d3, #a3a2a2)
}
a {
 text-align: center;
 color:#858585;
}
a:hover,
a:focus {
 color:#6a10c9;
}
a small {
 color:#858585;
}
a:hover small {
 color:#6a10c9
}

body {
 font-family: "Times New Roman", "Times, serif;
 font-size: 105%;
 color: #858585
}

h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}

header h1 a {
 font-size: 1.2em;
}
